<header class='header'>
  <figure class='header_picture'>
    <img class='header_image' src={{logo}} alt='Logo' />
  </figure>
  <button type='button' class='btn'>
    <a href='' class='btn_link'>Get Started</a>
  </button>
  <h1 class='header_title'>
    Webpack boilerplate</h1>
</header>