<header class="header">
  <figure class="header-picture">
    <img src={{ logo }} alt="">
  </figure>
  <button type="button" class="header-btn">
    <a href="">Get Started</a>
  </button>
  <h1 class="header-title">Webpack boilerplate</h1>
</header>